[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-markdownextradata-plugin = "*"
django-htmlmin = "*"
Pygments = "*"

[dev-packages]

[requires]
python_version = "3.10"
