{% if config.extra.social %}
<style>.md-footer-social__link {transition: 0.3s;}</style>
<div class="md-footer-social" style="font-size: 2.5rem; margin-top: -6px!important; padding: 0px!important; margin-bottom: -6px; overflow: hidden!important;">
  <a href="https://www.youtube.com/c/HektorProfe" title="Youtube" target="_blank" class="md-footer-social__link fa fa-youtube-square"></a>
  <a href="https://twitter.com/hektorprofe" title="Twitter" target="_blank" class="md-footer-social__link fa fa-twitter-square"></a>
  <a href="https://github.com/hcosta" title="Github" target="_blank" class="md-footer-social__link fa fa-github-square"></a>
  &nbsp;
</div>
{% endif %}
