body {
  background-color: #191a1d;
  color: #eee;
}

.navbar {
  background-color: #191a1d !important;
}

.about {
  background-color: white;
}

.author {
  margin-top: 39%;
  margin-bottom: 25px;
  text-align: center;
}

.card-title,
.card-text,
.card-footer {
  color: #191a1d;
}

.card-footer {
  font-style: italic;
}

.text-muted .link {
  font-size: 115%;
}

.text-muted .new {
  float: right;
  font-size: 135%;
  color: black;
  font-weight: 500;
}

.text-muted .old {
  float: right;
  font-size: 110%;
  text-decoration: line-through;
  padding-right: 10px;
  padding-top: 2px;
}

.card {
  border: 0px;
}

.card-img-top:hover {
  opacity: 0.85;
}

.no-margin-mobile {
  padding: 0px 25px;
}

.fancy {
  position: absolute;
  right: 0;
  width: 62px;
  height: 62px;
  z-index: 999;
}

.top-course {
  background-image: url("/images/logos/top.png");
}

.new-course {
  background-image: url("/images/logos/new.png");
}

.r-m {
  margin-right: 30px;
}

.display-on-mobile {
  display: none;
}

.hide-on-md {
  display: inline;
}

.display-on-md {
  display: none;
}

.bi {
  vertical-align: middle;
  width: 21px;
  height: 21px;
}

.img-preview {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (max-width: 1399px) {
  .author {
    margin-top: 25% !important;
  }

  .img-preview {
    border-bottom-left-radius: 0px !important;
  }
}

@media (max-width: 1199px) {
  .hide-on-mobile {
    display: none !important;
  }

  .img-preview {
    border-top-right-radius: calc(0.25rem - 1px) !important;
  }
}

@media (max-width: 991px) {
  main {
    margin-top: 12px;
  }

  .hide-on-md {
    display: none !important;
  }

  .display-on-md {
    display: inherit !important;
  }

  .t-m {
    padding-top: 20px !important;
  }
}

@media (max-width: 767px) {
  .author {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }

  .display-on-mobile {
    display: inherit !important;
  }

  .hide-on-mobile {
    display: inline !important;
  }

  .no-margin-mobile {
    padding: 0px !important;
  }
  .r-m {
    margin-right: 0px;
  }
}
